<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ps-serverless-functions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4a3f7fc0-cf67-4957-a7fe-ff1c0f5c6f15/resourceGroups/serverless-functions/providers/Microsoft.Web/sites/ps-serverless-functions</ResourceId>
    <UserName>$ps-serverless-functions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://ps-serverless-functions.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>netcoreapp3.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>